:root {
  --height: 0px;
  --width: 0px;
  --barWidth: 20px;
  --barMargin: 20px;
  --barColour: darkgrey;
  --labelColour: black;
  --titleColour: black;
  --titleFontSize: 12px;
  --valueColour: black;
  --tickPixels: 0px;
  --subtitleColour: black;
  --subtitleFontSize: 10px;
}

body {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 'title'
                      'graph';
  font-family: Optima, sans-serif;
}

header {
  grid-area: title;
  text-align: center;
}

section {
  grid-area: graph;
}

.chart-section {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas: 'yAxis chart right'
                        'blank xAxis bottomright';
}

.bar-chart {
  width: var(--width);
  height: var(--height);
  border-left: black solid 1px;
  border-bottom: black solid 1px;
  grid-area: chart;
  position: relative;
  margin: 0 auto;
}

.ticks {
  grid-area: ticks;
  list-style-type: none;
  height: var(--height);
  width: 7px;
  float:left;
  position: absolute;
  padding: 0;
  left: -8px;
  margin: 0;
}

.tick {
  border-top: solid black 1px;
  height: var(--tickPixels);
}

.y-axis {
  grid-area: yAxis;
  transform: rotate(270deg);
  /* CHANGE THIS LATERRRRR */
  height: 30px;
  position: absolute;
  right: -65px;
  top: 45%;
}

.x-axis {
  grid-area: xAxis;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.bar-list {
  display: table-cell;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: relative;
}

.barDiv {
  float: left;
  display: table-cell;
  position: relative;
  height: var(--height);
  display: flex;
}

.bar {
  position: relative;
  width: var(--barWidth);
  background: var(--barColour);
  float: left;
  margin: 0 var(--barMargin);
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.value {
  color: var(--valueColour);
}

/* Change this to be a fraction/percentage of the graph height */
.bar-label {
  position: absolute;
  color: var(--labelColour);
  bottom: -40px;
}

.top {
  align-items: top;
}

.center {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.title {
  color: var(--titleColour);
  font-size: var(--titleFontSize);
  margin-bottom: 0;
}

.subtitle {
  color: var(--subtitleColour);
  font-size: var(--subtitleFontSize);
}







