:root {
  --height: 0px;
  --width: 0px;
  --barWidth: 20px;
  --barMargin: 20px;
  --labelColour: black;
  --titleColour: black;
  --titleFontSize: 12px;
  --valueColour: black;
  --tickPixels: 0px;
  --subtitleColour: black;
  --subtitleFontSize: 10px;
}

body {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 'header'
                      'graph';
  font-family: Optima, sans-serif;
}

header {
  grid-area: header;
  text-align: center;
}

section {
  grid-area: graph;
}

.chart-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.chart-container {
  display: flex;
}

.bar-chart {
  width: var(--width);
  height: var(--height);
  border-left: black solid 1px;
  border-bottom: black solid 1px;
  position: relative;
}

.ticks {
  list-style-type: none;
  height: var(--height);
  width: 7px;
  float:left;
  position: absolute;
  padding: 0;
  left: -8px;
  margin: 0;
}

.tick {
  position: relative;
  border-top: solid black 1px;
  height: var(--tickPixels);
}

.tick-nums {
  list-style-type: none;
  height: var(--height);
  padding: 0;
  margin-right: 20px;
  margin-top: 0;
}

.tick-num {
  position: relative;
  height: var(--tickPixels);
  top: -8px;

}

.tick-text {
  position: absolute;
  left: -15px;
  top: -26px;
}
.y-axis {
  transform: rotate(270deg);
  height: 30px;
  margin-top: 15vh;
  font-weight: bold;
}

.x-axis {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.legend-square {
  width: 10px;
  height: 10px;
  border: black solid 1px;
  margin-top: 5px;
  margin-right: 10px;
}

.legend-list {
  list-style-type: none;
  padding: 10px 20px;
  margin-left: 2vw;
}

.legend-list li {
  display: flex;
}

.bar-list {
  display: table-cell;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: relative;
  display: flex;
}

.barDiv {
  position: relative;
  height: var(--height);
  margin: 0 var(--barMargin);
  display: flex;
  justify-content: center;
}

.bar {
  position: absolute;
  width: var(--barWidth);
  float: left;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  border: 1px black solid;
  color: rgba(0, 0, 0, 0);
}

.bar-ul {
  padding: 0;
  position: relative;
  align-self: flex-end;
  display: flex;
  width: var(--barWidth);
}

.bar-label {
  position: absolute;
  color: var(--labelColour);
  bottom: -40px;
}

.top {
  align-items: top;
}

.center {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.title {
  color: var(--titleColour);
  font-size: var(--titleFontSize);
  margin-bottom: 0;
}

.subtitle {
  color: var(--subtitleColour);
  font-size: var(--subtitleFontSize);
  margin-bottom: 0;
}

.value {
  position: absolute;
  margin: 0;
  top: -20px;
  font-weight: bold;
}

.bar:hover {
  color: var(--valueColour);
  z-index: 10 !important;
  background: #f3f598 !important;
}
